includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    paths:
        - app

    # The level 8 is the highest level
    level: 8


    ignoreErrors:
        - '#Access to protected property Spatie\\Invade\\Invader#'

    checkMissingIterableValueType: false


